* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  padding-top: 150px;
}

/* ABOUT */
.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
}
.about-img img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.4);
}
.about-text {
  max-width: 700px;
  padding-left: 100px;
}
.about-text h2{
  padding-bottom: 20px;
}
/* ABOUT */

/* SKILL */
.skills-section {
  margin-top: 120px;
}
.section-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 50px;
  color: #38bdf8;
}
.skills-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.skill-card {
  background: #020617;
  padding: 28px;
  text-align: center;
  border-radius: 16px;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
  transition: transform 0.3s, box-shadow 0.3s;
}
.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.25);
}
/* SKILL */

/* ORGANISASI */
.experience-section {
  margin-top: 120px;
}
.experience-list {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.experience-card {
  background: #020617;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
  position: relative;
}
.experience-card h3 {
  margin-bottom: 8px;
  color: #e5e7eb;
}
.experience-org {
  display: block;
  font-size: 0.95rem;
  color: #38bdf8;
  margin-bottom: 4px;
}
.experience-time {
  display: block;
  font-size: 0.85rem;
  color: #94a3b8;
  margin-bottom: 14px;
}
.experience-card p {
  color: #cbd5f5;
  line-height: 1.6;
}
.detail-button {
  display: inline-block;
  margin-top: 18px;
  padding: 10px 22px;
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.detail-button:hover {
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 8px 25px rgba(56, 189, 248, 0.35);
  transform: translateY(-2px);
}
/* ORGANISASI */