.navbar-wrap{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:center;
z-index:9999;
}

.navbar{
display:grid;
grid-template-columns:60px 1fr 60px;
align-items:center;

width:90%;
max-width:1100px;

padding:10px 20px;
background:#1a1a1a;
border-radius:999px;
box-shadow:0 6px 20px rgba(0,0,0,0.5);
}

.nav-middle{
display:flex;
align-items:center;
justify-content:center;
gap:12px;
}

.logo,.icon-btn,.hamburger{
cursor:pointer;
padding:6px;
border-radius:6px;
background:none;
border:none;
color:white;
}

.logo:hover,
.icon-btn:hover,
.hamburger:hover{
background:#333;
}

.search{
background:#222;
padding:6px 12px;
border-radius:20px;
display:flex;
gap:6px;
}

.search input{
background:none;
border:none;
outline:none;
color:white;
}

.avatar{
justify-self:end;
width:32px;
height:32px;
border-radius:50%;
background:orange;
}
