.sidebar{
position:fixed;
top:0;
left:0;
width:70px;
height:100vh;
background:#111;
padding-top:100px;

display:flex;
flex-direction:column;
align-items:center;
gap:20px;

transition:0.3s;
z-index:9998;
}

.sidebar.hidden{
transform:translateX(-100%);
}

.side-icon{
cursor:pointer;
}

.overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,0.4);
z-index:9997;
}

.overlay.hidden{
opacity:0;
pointer-events:none;
}
