/* =========================
   RESET
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* =========================
   THEME VARIABLES
========================= */

:root{
--bg:#0f0f0f;
--card:#1a1a1a;
--surface:#222;
--text:white;
}

body.light{
--bg:#f5f5f5;
--card:white;
--surface:#e5e5e5;
--text:black;
}

/* =========================
   BODY
========================= */

body{
font-family:sans-serif;
background:var(--bg);
color:var(--text);

padding-top:90px;
overflow-x:hidden;

transition:0.25s;
}

/* =========================
   MAIN GRID
========================= */

.main{
width:90%;
max-width:1100px;
margin:auto;
}

.video-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
gap:20px;
}

.video-card{
background:var(--card);
border-radius:12px;
cursor:pointer;
overflow:hidden;
transition:0.2s;
}

.video-card:hover{
transform:translateY(-4px);
}

.thumb{
height:150px;
background:black;
}

.thumb video{
width:100%;
height:100%;
object-fit:cover;
}
