.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1100px;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(2, 6, 23, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  z-index: 999;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* MENU MOBILE */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* ===== THEME ICON ===== */
.theme-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* ===== BACK TO TOP BUTTON ===== */
#toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  border: none;
  border-radius: 50%;

  background: #38bdf8;
  color: #020617;

  cursor: pointer;
  display: none;

  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}

#toTop:hover {
  opacity: 0.85;
}

/* ===== LIGHT MODE ===== */
/* ===== LIGHT MODE TEXT FIX ===== */

body.light-mode {
  background: #f1f5f9;
  color: #0f172a;
}

/* card / container */
body.light-mode .skill-card,
body.light-mode .experience-card {
  background: #ffffff;
  color: #0f172a;
}

/* heading */
body.light-mode h1,
body.light-mode h2,
body.light-mode h3 {
  color: #38bdf8;
}

/* secondary text */
body.light-mode .experience-time,
body.light-mode p {
  color: #334155;
}

/* button */
body.light-mode .detail-button {
  border-color: #0ea5e9;
  color: #0ea5e9;
}

body.light-mode .detail-button:hover {
  background: #0ea5e9;
  color: white;
}
